<link rel="stylesheet" href="stylesheets/settings.css">
<div class="content-container">
	<div class="libraryHeader">ACCOUNT SETTINGS</div>
		<div class="row">
			<div class="leftRowContainer">
				<p>First Name</p>
				<input ng-model='user.name' name='name'></input>
			</div>
			<div class="rightRowContainer">
				<p>Last Name</p>
				<input ng-model='user.lastname' name='lastname'></input>
			</div>
		</div>
		<div class="row">
			<div class="leftRowContainer">
				<p>Email</p>
				<input ng-model='user.email' name='email' disabled></input>
			</div>
			<div class="rightRowContainer">
				<p>Change Email?</p>
				<input type='checkbox' ng-model='changeEmail' ng-init='changeEmail=false'/>
			</div>
		</div>
		<div class="row" ng-show='changeEmail'>
			<div class="leftRowContainer">
				<p>New Email</p>
				<input ng-model='user.newEmail' name='newEmail'></input>
			</div>
			<div class="rightRowContainer">
				<p>Confirm New Email</p>
				<input ng-model='user.confirmEmail' name='confirmEmail'></input>
			</div>
		</div>
		<div class="row">
			<div class="leftRowContainer">
				<p>Current Password</p>
				<input type='password' ng-model='user.password' name='password'></input>
			</div>
			<div class="rightRowContainer">
				<p>Change Password?</p>
				<input type='checkbox' ng-model='changePassword' ng-init='changePassword=false'/>
			</div>
		</div>
		<div class="row" ng-show='changePassword'>
			<div class="leftRowContainer">
				<p>New Password</p>
				<input type='password' ng-model='user.newPassword' name='newPassword'></input>
			</div>
			<div class="rightRowContainer">
				<p>Confirm New Password</p>
				<input type='password' ng-model='user.confirmPassword' name='confirmPassword'></input>
			</div>
		</div>
		<div class="row">
			<div class="leftRowContainer">
				<p>Company Name</p>
				<input type="text" name="companyName" ng-model="user.companyName">
			</div>
			<div class="rightRowContainer">
				<p>Company Size</p>
				<select chosen
						name="user.companySize"
						disable-search="true"
						data-placeholder="COMPANY SIZE"
						ng-model="user.companySize"
						ng-options="size for size in companySizes"
						>
					<option value=""></option>
				</select>
			</div>
		</div>
		<div><p ng-repeat="error in errorMessage">{{error}}</p></div>
		<div class="row">
			<button id="saveProp" ng-click='saveChanges()'>SAVE CHANGES</button>
		</div>	
		<div class="row">
			<button id="saveProp" ng-click='deleteAccount()'>DELETE ACCOUNT</button>
		</div>								
	</div>
</div>